@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import 'variables';
@import 'sticky-note';
@import 'action-bar';
@import 'bootstrap';

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:$main-font;
}

h2 {
  font-size:1.2rem;
  font-weight:400;
}

b { font-weight:700 }

p {
  font-size:0.8rem;
  font-weight:400;
}

.main-container {
  width:100%;
  max-width:100vw;
  min-height:100vh;
}
